/javascript/index.js
Cache-Control: no-cache, no-store, must-revalidate

/javascript/translate.js
Cache-Control: no-cache, no-store, must-revalidate

/javascript/loader.js
Cache-Control: no-cache, no-store, must-revalidate

/style/style.css
Cache-Control: no-cache, no-store, must-revalidate


/style/menu-icon.css
Cache-Control: no-cache, no-store, must-revalidate
